* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Sans-Serif;
  background-color: lightblue;
  color: #333;
}

nav {
  background-color: #333;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}